# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# --------------------
# Flask
# --------------------
instance/
*.log

# --------------------
# Redis
# --------------------
dump.rdb

# --------------------
# Docker
# --------------------
*.tar

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Node (just in case later)
# --------------------
node_modules/

# --------------------
# Env files (important)
# --------------------
.env
.env.*
